
div.container-fluid img{
    width: 100%;
    height: 80%;
    margin: 20px 5px 10px 5px ;
    padding-top: 0 auto;
}   





div.container{
    
font-family: 'Dancing Script', cursive;
font-family: 'M PLUS 2', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu', sans-serif;
} 


